<form action="/place" method="post">
  <label for="cityName">City Name:</label>
  <input id="cityName" name="cityName" type="text">
  <label for="durration">Durration of Trip (in days):</label>
  <input id="durration" name="durration" type="number">
  <label for="peopleList1">People you traveled with (person one):</label>
  <input id="peopleList1" name="peopleList1" type="text">
  <label for="peopleList2">People you traveled with (person two):</label>
  <input id="peopleList2" name="peopleList2" type="text">
  <label for="peopleList3">People you traveled with (person three):</label>
  <input id="peopleList3" name="peopleList3" type="text">
  <label for="description">Description of Trip:</label>
  <input id="description" name="description" type="text">
  <button type="submit">Submit</button>
</form>